@import "colors.css";

* {
   font-family: "CodeNewRoman Nerd Font Propo";
   font-size: 11px;
   font-weight: 900;
   margin: 0;
   padding: 0;
   transition-property: background-color;
   transition-duration: 0.5s;
   color: @primary; 
}

window#waybar {
  all: unset;
}

#waybar {
  background-color: transparent;
  transition-property: background-color;
}

#workspaces {
  padding: 0 5;
}

#workspaces button {
  all:unset;
  padding: 0 5;
  color: alpha(@surface,.4);
  transition: all .2s ease;
}

#workspaces button:hover {
  color: alpha(@on_primary,.4);
  border: none;
  text-shadow: 0 0 2 rgba(0,0,0,.5);
  transition: all 1s ease;
}
