@import "colors.css";

* {
  * font-family: "Fira Sans Semibold";
    font-size: 11px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    transition-property: @background;
    transition-duration: 0.5s;
}
